body{
margin:0;
font-family:Arial,sans-serif;
background:#000;
color:white;
text-align:center;
}

header{
padding:40px 20px;
background:#000;
}

.logo{
width:220px;
max-width:90%;
margin-bottom:20px;
}

h1{
color:gold;
font-size:48px;
margin:10px 0;
}

h2{
color:gold;
margin-top:50px;
}

h3{
color:white;
margin-top:-10px;
}

p{
font-size:18px;
line-height:1.7;
padding:0 20px;
}

ul{
list-style:none;
padding:0;
}

li{
padding:12px;
font-size:20px;
}

.whatsapp-btn{
display:inline-block;
margin-top:25px;
padding:16px 35px;
background:#25D366;
color:white;
text-decoration:none;
font-size:22px;
border-radius:50px;
font-weight:bold;
}

.whatsapp-btn:hover{
background:#1ebc59;
}

section{
padding:40px 20px;
}

footer{
background:#111;
padding:20px;
margin-top:40px;
font-size:15px;
}
